@media (max-width:767.98px) {
  .container {
    padding: 1rem;
  }

  .login-page-header {
    padding: 0;
  }

  .login-box-wrapper {
    max-width: 300px;
  }

  .login-box-wrapper {
    height: calc(100vh - 25vh);
  }
}

@media (max-width:449.98px) {
  .login-box-wrapper {
    height: calc(100vh - 29vh);
  }
}


@media (max-width:320px) {
  .login-page-header .btn {
    max-width:100px;
  }

  .login-box-wrapper {
    height: calc(100vh - 33vh);
  }
}
